
	  #topbar {
   
       width:1600px;
       margin:0 auto;
       height: 60px;
	   
	   

      }

      body {

        margin: 0;
        padding: 0;
        font-family: Helvetica, Arial, sans-seriff;
}

		#logo {

     margin-top:8px;
	 width:100px;
	 float:left;
	 margin-right:8px;
	 margin-left:280px;
	 
	 
	  }
	  
		.topbar-section {
	  
	     float:left;
		 border-left: 1px #CCCCCC solid;
		 height:100%;
		 margin-right:8px;
		 
	  }	 
      
		#signin-image {
	   
	   width:40px;
	   margin:11px 15px;
	   float:left;
	   
	   
	   }
	   
	   
		#signin-text {
	   
	    
	    font-weight: bold;
		font-size:90%;
		position:relative;
		top:14px;
		padding-right:20px;
       }
	    
		.topbar-menu {
	  
	    font-weight: bold;
		font-size: 90%;
		padding: 13px 15px 0 15px; 
		height:45px;
		
		}
		
		#down-arrow {
		
		width:23px;
		margin-left:40px;
		margin-right:40px;
		float:right;
	    
		
		}
		
	    #search-box {
		    
            background-color: #E4E4E4;
            border:none;
            font-weight: bold;
            font-size: 14px;
            padding:5px;
            margin: 10px 0 5px 5px;
            float: left;
		    
 
		
	
		            }
		
		#magnify-glass {
		
		height:27px;
		margin-top:10px;
		
		}
		
		.clear {
		
		  clear:both;
		 
		 }
		 
		#menu-bar-container {
		 
		 background-color: #BB1919;
		 width: 100%;
		 height: 90px;
		 
		 }
		 
		 
		#menu-bar {
		 
		  width:1600px;
		  margin:0 auto;
		  
		  }
		  
		h1 {
		  
		  
		  padding:0;
		  margin: 0;
		  color: white;
		  font-size: 40px;
		  font-weight: normal;
		  padding-top:10px;
		  padding-left:280px;
		  float:left;
		  
		  }
		  
		  
		#menu-bar-second-container {
		  
		  
		 background-color: #A91717;
		  width:100%;
		  
		  }
		  
		  
		#menu-bar-second {
		  
		  
		  width:1000px;
		  margin: 0 auto;
		  height:40px;
		  
		  }
		  
		  
		#menu-bar-second a {
		  
		  
		  color:white;
		  text-decoration:none;
		  padding: 0 10px;
		  border-right: 1px solid #BB4545;
		  font-size: 14px;
		  position: relative;
		  top: 10px;
		  
		  }
		 
		#menu-bar-second a:hover {
		 
		   text-decoration: underline;
		   
		   }
		   
		   
		.no-border {
		   
		   
		    border:none !important;
			   
			   
			   
		   }
		   
		   
		#down-arrow2 {
		   
		   
		    height: 20px;
			position: relative;
			top: 15px;
			
			}
			
 		#page-container {
			
			width:1000px;
			margin: 0 auto;
			
			}
			
			h2 {
			
			
			font-weight: normal;
			margin-top: 40px;
			font-size: 20px;
			border-bottom: 2px solid #a91717;
			width: 105px;
			
			
			}
			
			h3 a {
			
			
			color:black;
			font-size: 30px;
			text-decoration: none;
			
			}
			
			h3 a:hover {
			
			color:#1167a8;
			
			}
			
			#article-summary {
			
			color: #5a5a5a;
			width: 280px;
			float: left;
			
			}
			
			.clock {
			
			   height:25px;
			   position: relative;
			   top:9px;
			   margin-top: auto;
			   margin-left:auto;
			   }
			   
			   .topic-link {
			   
			   text-decoration: none;
			   color:#a91717;
			   border-left: 1px solid #CCCCCC;
			   margin-right:10px;
			   padding-left: 5px;
			   
			   }
			   
			  #article-summary a:hover {
			
			color:#1167a8;
			
			}
			
			.date {
			
			padding-right: 10px;
			color: #5a5a5a;
			   
			   }
			  
			   
			   #article-container {
			   
			   
			   float: left;
			   width:700px;
			   border-bottom: 1px solid #CCCCCC;
			   padding-bottom: 10px;
			   margin-right: 0px;
			   margin-left: 0px;
			   border-length: 0px;
			   padding-right: 20px;
			   
			   }
			   
			   
			   #smartlock {
			   
			   
			   width: 400px;
			   margin-left:20px;
			   
			   
			   }
			   
			   
			   #article-hr {
			   
			   
			   border-top: 1px solid #a91717;
			   width:50px;
			   margin-left: 10px;
			   
			   }
			   
			   #watch-listen {
			   
			   
			      margin-left:20px;
				  width:200px;
				  float:right;
				  
				  }
				  
				  
				  h4  {
				  
				  
				     font-weight: normal;
					 font-size: 25px;
					
					 
					 }
					 
					 .article-side-image {
					 
					 
					    float: left;
						width: 120px;
						margin-right:10px;
						
						
						
						}
			         
					    .watch-listen-link {
						
						text-decoration: none;
						color: black;
						font-weight: bold;
						font-size: 18px;
						
						
						}
						
						
					 .watch-listen-link:hover {
			
			            color:#1167a8;
			
			           }
			
			           .side-article {
					   
					    
                          float:left;
						  width:250px;
						  position:relative;
						  top:-80px;
					      margin-left:130px;  
						 
						  
					   }  
					   
					   .no-border {
					   
					   
					   border-left:none;
					   padding:0;
					   
					   }
					   
					   
					   .border-right: 1px solid #CCCCCC;
					 
					   margin-left:60px;
					   
					   }
					   
					  
		  

